/*页中基本样式初始化*/
	body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,p,a,image{
		margin:0;
		padding:0;
	}
	ul,ol{
		list-style:none;
	}
	a{
		text-decoration:none;
		font-family:"微软雅黑";
	}
	@mixin a{
		text-decoration:none;
		font-family:"微软雅黑";
	}
	$color:#e1e5f2;
	$width:1152px;
	#container{
		width:$width;
		margin:0 auto;
	}
	@mixin container{
		width:$width;
		margin:0 auto;
	}
	.success{
		font-size: 14px;
		color:green;
	}
	.error{
		color:red;
	}
/* 网页中基本样式初始化 end */

/*网页头部栏目 start*/
.topbar{
	height:72px;
	line-height: 72px;
	font-size: 0;
	box-shadow: 0 4px 8px 0 #ddd;
	background-color:#fff;
	.logo img{
		float:left;
		width:126px;
		margin-left:24px;
		margin-right:28px;
	}
	.nav-item {
		li{
			float:left;
			a{
				display: block;
				padding:0 20px;
				height:72px;
				text-align: center;
				font-size: 16px;
				color:#4d555d;
				&:hover{
					color:#333;
				}
			}
		}
		.icon-new2{
			display: inline-block;
			position: absolute;
			top:-13px;
			left:405px;
			color: red;
		}
	}
	/*搜索框 start*/
	.search{
		position: relative;
		display: inline-block;
		input{
			margin-left:20px;
			padding-right:30px;
			width:270px;
			height:48px;
			border:0;
			outline:0;
			border-bottom: 1px solid #d9dde1;
		}
		.search-tags{
			position: absolute;
			top:0;
			right:30px;
			a{
				display: inline-block;
				padding:0 8px;
				font-size:12px;
				line-height: 24px;
				color:#4d555d;
				border-radius: 30%;
				background-color: #f3f5f7;
			}
		}
		.search-icon{
			position: absolute;
			top:18px;
			right:-10px;
			width:20px;
			height:24px;
			padding:0 8px;
			border-radius: 12px;
			&:hover{
				color:red;
				background: rgba(240,20,20,.4);
				.icon-sousuo{
					color:red;
				}
			}
		}
		.icon-sousuo{
			display: inline-block;
			position: absolute;
			top:-23px;
			left:10px;
			color:#4d555d;
			font-weight: bold;
		}
	}
	/*搜索框 end*/
	/*登录注册 start*/
	.login{
		float:right;
		li{
			position: relative;
			float:left;
			>a{
				display: inline-block;
				font-size:14px;
				padding:0 15px;
				color:#4d555d;
				&::hover{
					color:red;
				}
			}
		}
		.download{
			display: none;
			position: absolute;
			top:67px;
			left:-220px;
			padding:22px 24px;
			width:253px;
			height:106px;
			z-index:999;
			border-radius: 10px;
			background-color:#fff; 
			img{
				width:110px;
				height:110px;
			}
			.loading{
				float:right;
			}
			p{
				line-height: 16px;
				font-size: 12px;
				color:#4d555d;
				text-align: center;
				margin-bottom: 12px;
			}
			a{
				display: block;
				width:132px;
				height:36px;
				text-align: center;
				line-height: 36px;
				font-size: 12px;
				color:#fff;
				margin-top: 8px;
				border-radius: 18px;
				background: #4d555d;
				&::hover{
					background-color: #07111b;
				}
			}
			.iconfont{
				color:#fff;
			}
		}
		
		.gouwuche{
			padding:0 20px;
			margin-top: 16px;
			line-height:36px;
			border:1px solid #ddd;
			border-radius:18px;
		}
		.my_chart{
			display: none;
		    position: absolute;
		    top: 72px;
		   	right:0;
		    padding: 0 12px;
		    width: 350px;
		    height:410px;
		    z-index:999;
		    background-color: #fff;
		    border-bottom-right-radius: 8px;
	    	border-bottom-left-radius: 8px;
		    box-shadow: 0 8px 8px 0 #ddd;
		}
		.chart_title{
			height:15px;
			padding: 20px 12px;
	    	border-bottom: 1px solid #d9dde1;
	    	h2{
				float:left;
			    height: 16px;
			    font-size: 16px;
			    color: #07111b;
			    line-height: 16px;
			}
			p{
				float:right;
			    height: 16px;
			    line-height: 16px;
			    font-size: 12px;
			    color: #93999f;
			}
		}
	}
	.chart_content{
		text-align: center;
		.iconfont{
		    margin-top: 36px;
		    margin-bottom: 12px;
		    display: inline-block;
		    width: 60px;
		    height: 60px;
		    text-align: center;
		    line-height: 60px;
		    background: #93999f;
		    font-size: 36px;
		    color: #fff;
		    border-radius: 50%;
		}
		h3{
			margin: 0 auto;
		    width: 180px;
		    padding-bottom: 24px;
		    border-bottom: 1px solid #d9dde1;
		    color: #4d555d;
		    font-size: 14px;
		    line-height: 14px;
		}
		p{
			text-align: center;
		    margin-top: 24px;
		    margin-bottom: 16px;
		    font-size: 12px;
		    line-height: 12px;
		    color: #93999f;
		}
		a{
			display: block;
		    color: rgba(240,20,20,.6);
		    font-size: 12px;
		    line-height: 12px;
		    margin-bottom: 16px;
		}
	}
	.join{
		height:38px;
		line-height:38px;
		margin-top: 40px;
	    padding: 16px 12px;
    	border-top: 1px solid #d9dde1;
    	.order{
		    font-size: 12px;
	    	color: #93999f;
		}
		.cart{
			float:right;
		    color: #fff;
			font-size: 12px;
			line-height: 12px;
			font-weight: 700;
			padding: 12px 16px;
			background: rgba(240,20,20,.8);
			border-radius: 16px;
		}
	}
	.l-login{
		padding:0 12px;
	}
	.login-d::after{
		content:'/';
		color:#dfdfdf;
		margin-left:14px;
	}
	.login-z{
		padding:0;
	}
	.frame{
		position: fixed;
		left:50%;
		top:50%;
		display: none;
		z-index:99999;
		margin: -218px 0 0 -180px;
		width:360px;
		height:333px;
		padding-bottom:30px;
		background-color: #fff;
	}
	.title{
		height:50px;
		padding:0 20px;
		h3{
		    font-size: 16px;
		    line-height: 49px;
		    height: 49px;
		    color: #787d82;
		    border-bottom: 1px solid #d0d6d9;
		}
	    span{
		    float: left;
			width: 80px;
			text-align: center;
			height: 49px;
			line-height: 49px;
			cursor: pointer;
			&.active{
				color:#f01400;
			    border-bottom: 1px solid #f01400;
			}
		}
		i{
		    position: absolute;
		    top: 17px;
		    right: 20px;
		    width: 17px;
		    height: 17px;
		    cursor: pointer;
		    background: url(../images/nlogin.png);
		    &::hover{
				background: url(../images/nlogin.png) 0 -20px;
			}
		}
	}
	.text_area{
		padding:0 30px;
		@mixin p{
			position: absolute;
			top:12px;
		    font-size: 12px;
		    height: 20px;
		   	color:#f01414;
		}
		@mixin input{
			position: absolute;
		    color:#333;
		    padding: 9px 9px 9px 10px;
		    border:1px solid #d0d6d9;
		}
		@mixin width($width){
			width:$width;
		}
		form {
			&>p{
				font-size: 14px;
				height:30px;
				line-height:30px;
			}
		}
		input{
			border: 0;
			outline: 0;
			&::-webkit-input-placeholder{
				color:#d0d6d9;
			}
		}
		.user{
			position: relative;
			height:60px;
			input{
				@include width(279px);
				@include input;
			}
			p{
				@include p;
			}
		}
		.password{
			position: relative;
			height:60px;
			input{
				@include width(279px);
				@include input;
			}
			p{
				@include p;
			}
		}
		.verification{
			position: relative;
			height:60px;
			display: none;
			input{
				@include width(140px);
				@include input;
			}
			p{
				@include p;
			}
		}
		.forget{
			font-size: 13px;
			color:#787d82;
			line-height: 1em;
			margin-bottom: 20px;
			input{
			    margin-right: 10px;
		    	vertical-align: -1px;
			}
			a{
				float: right;
				color:#787d82;
				&::hover{
					color:#f01414;
				}
			}
		}
		.login {
			input{
				width:300px;
				height:50px;
				color:#fff;
				font-size:16px;
				line-height:50px;
				background-color:#f01414;
			}
		}
		.erweima{
			position: absolute;
			right:0;
			bottom:0;
			width:60px;
			height:60px;
			background:url(../images/erweima.png); 
		}
	} 
	.else{
		position: absolute;
		bottom:45px;
		height:25px;
		padding:20px 30px 4px;
		span{
			display: inline-block;
			font-size: 14px;
			color:#666;
			line-height: 24px;
			vertical-align: 4px;
		}
		.iconfont{
			display: inline-block;
			font-size:25px;
			color:#c8cdd2;
			margin-left: 20px;
		}
		.icon-qq:hover{
			color:#08c;
		}
		.icon-weixin1:hover{
			color:#00b33b;
		}
		.icon-weibo:hover{
			color:#f01400;
		}
	}
	.bg{
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index:88888;
		display: none;
		background-color: rgba(0,0,0,.5);
	}
	/*登录注册 end*/
}
/*网页头部栏目 end*/

/*网页主题内容 start */

.main{
	height:444px;
	padding-top:32px;
	/*左侧菜单栏 start*/
	.left{
		position: relative;
		float:left;
		width:216px;
		height:432px;
		padding-top:12px;
		background-color: #2b333b;
		.menu{
			&>li{
				&>a{
					position: relative;
					display: inline-block;
					margin-left:12px;
					padding:0 16px;
					width:172px;
					height:60px;
					color:#999;
					line-height: 60px;
				}
			}
		}
		.icon-right{
			display: inline-block;
			position: absolute;
			top:0;
			right:16px;
			font-weight: bold;
		}
		.left-item{
			position: absolute;
			top:0;
			left:216px;
			display: none;
			width:768px;
			height:444px;
			z-index:999;
		}
		.item-box{
			display: block;
			padding:24px 48px;
			width:672px;
			height:160px;
			background-color: #fff;
		}
		.item-all{
			span{
				display: inline-block;
				font-size:12px;
				line-height: 44px;
			}
			a{
				display: inline-block;
				margin-right: 25px;
				font-size:14px;
				line-height: 28px;
				color:#4d555d;
			}
		}
		.item-progress{
			margin-top: 10px;
		}
		.item-book {
			padding:35px 0 0 48px;
			width:720px;
			height:200px;
			background-color: #f8fafc;
			a{
				display: inline-block;
				float:left;
				width:360px;
				height:96px;
				img{
					display: inline-block;
					float:left;
					margin-right: 15px;
					margin-bottom: 54px;
					width:64px;
					height:42px;
					border-radius: 10%;
				}
			}
		}
		.book-case{
			line-height:96px;
			h3{
				float:left;
				font-size: 12px;
				line-height: 20px;
				color:#07111b;
				overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			.bookhour{
				margin-bottom: 10px;
				font-size: 12px;
			    color: #4D555D;
			    line-height: 20px;
			    span{
					margin-right:10px;
				}
			}
			p{
				font-size: 12px;
			    color: #4D555D;
			    line-height: 20px;
			}
		}
	}
	/*左侧菜单栏 end*/

	/*轮播图 start*/
	.carousel{
		position: relative;
		float:left;
		width:936px;
		height:316px;
		.carousel-image li{
			position:absolute;
			top:0;
			left:0;
			display: none;
			&.active{
				display: block;
			}
		}
		div{
			position: absolute;
			top:128px;
			a{
				display: inline-block;
				width:36px;
				height:60px;
				background-color: rgba(0,0,0,0);
				.iconfont{
					line-height: 60px;
					font-size:24px;
					font-weight:bold;
					color:#999;
				}
			}
		}
		.carousel-left{
			left:11px;
		}
		.carousel-right{
			right:11px;
		}
		.carousel-index{
			position: absolute;
			bottom:20px;
			right:25px;
			li{
				float:left;
				width:8px;
				height:8px;
				margin-left:8px;
				background-color: #341f1a;
				border: 1px solid #ddd;
				border-radius: 50%;
			}
			.active{
				background-color: #fff;
			}
		}
	/*轮播图 end*/
	}
	/*攻城狮 start*/
	.bottom{
		float:right;
		padding: 0 18px;
		width:900px;
		background-color: #fff;
		.bot-item{
			position: relative;
			float: left;
		    width: 180px;
		    height: 88px;
		    padding: 20px 0;
		    text-align: center;
		    i{
				margin-top: 22px;
				font-size:36px;
			}
			.icon-web{
			color:orange;
			}
			.icon-java{
				color:#ff1177;
			}
			.icon-android{
				color:#40c66c;
			}
			.icon-php{
				color:#8b6bf9;
			}
			.icon-ios{
				color:#4ad1d9;
			}
			p{
				font-size:14px;
			} 
			span{
				font-size:12px;
				color:#93999f;
			} 
		}
	}
	/*攻城狮 end*/
}
/*实战推荐 start*/
	.combat{
		font-size: 0;
		height:325px;
		padding:36px 0 48px;
		.com-title{
			position: relative;
		    line-height: 36px;
		    text-align: center;
		    span{
				display: inline-block;
				width:56px;
				height:36px;
				vertical-align: bottom;
			}
			.img-left{
				margin-right:24px;
				background: url(../images/icon.png) left -6px/100%;
			}
			.img-right{
				margin-left: 7px;
				background: url(../images/icon.png) left -43px/100%;
			}
			p{
				display: inline-block;
				color:#4d555d;
				font-size:20px;
				font-weight: bold;
				&::after{
					content:"/";
				    color: #93999F;
					font-size: 14px;
					margin:0 8px;
				}
				&:last-of-type::after{
					content:"";
				}
			}
		}
		.recommend{
			height:264px;
			margin-top: 24px;
		}
		.recommend-item{
			float:left;
			width:216px;
			height:252px;
			margin-right: 18px;
			&:last-child{
				margin-right: 0;
			}
		}
		.recommend-img{
			position: relative;
			img{
				width:216px;
				height:120px;
				border-radius: 10%;
			}
			.recommend-shadow{
				position: absolute;
				bottom:6px;
				left:8px;
				span{
					display: inline-block;
					width:55px;
					height:24px;
					font-size: 12px;
					font-weight: bold;
					color:#fff;
					line-height: 24px;
					text-align: center;
					margin-right: 5px;
					border-radius: 20px;
					background-color: rgba(7,17,27,.4);
				}
			}
		}
		.recommend-progress {
			width:200px;
			height:102px;
		    padding:12px 8px;
			h3{
				font-size: 16px;
			    line-height: 24px;
			    color:#07111B;
			    word-wrap: break-word;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    max-height: 44px;
			    &:hover{
					color:red;
				}
			}
			.bookhour{
				margin:8px 0 10px 0;
				font-size: 12px;
			    color: #999;
			    line-height: 20px;
			    span{
					margin-right:8px;
				}
				.icon-star{
					font-size: 12px;
				    color: #ff9900;
				}
				.icon-person{
					font-size: 12px;
					color:#4d555d;
				}
			}
			p{
				font-size: 12px;
			    color: #4D555D;
			    line-height: 20px;
			}
		}
	}
/*实战推荐 end*/

/*新手入门 start*/
.new{
	height:819px;
	background-color: #f8fafc;
	.base{
		overflow: hidden;
		width:1152px;
		margin:0 auto;
	    padding: 36px 0 48px;
	    .new_title{
			position: relative;
		    line-height: 36px;
		    text-align: center;	
		    span{
				display: inline-block;
				width:56px;
				height:36px;
				vertical-align: bottom;
			}
			.img-left{
				margin-right:24px;
				background: url(../images/icon.png) left -145px/100%;
			}
			.img-right{
				margin-left: 7px;
				background: url(../images/icon.png) left -182px/100%;
			}
			p{
				display: inline-block;
				color:#4d555d;
				font-size:20px;
				font-weight: bold;
				&::after{
					content:"/";
				    color: #93999F;
					font-size: 14px;
					margin:0 8px;
				}
				&:last-of-type::after{
					content:"";
				}
			}
		}
		.start{
			margin-top:24px;
		}
		.top_pic{
			height:108px;
			margin-bottom: 36px;
			a{
				display: inline-block;
				float:left;
				overflow: hidden;
				width:567px;
				height:48px;
				padding:30px 0;
				text-align: center;
				border-radius: 8px;
			}
			.left{
				margin-right:18px;
				background-size: 100%;
				background: url(../images/new-1.jpg);
			}
			.right{
				background-size: 100%;
				background: url(../images/new-2.jpg);
			}
			h3{
			    font-size: 20px;
			    font-weight: 700;
			    color: #FFF;
			    line-height: 28px;
			    text-shadow: 0 2px 2px rgba(7,17,27,.4);
			}
			p{
				font-size: 12px;
			    color: #FFF;
			    line-height: 16px;
			    text-shadow: 0 2px 2px rgba(7,17,27,.4);
			    margin-top: 4px;
			}
		}
		.mid{
			height:564px;
			.item{
				float: left;
				width:216px;
				height:252px;
				margin-left: 18px;
				border-radius: 4px;
				margin-bottom: 12px;
				.over{
					position: relative;
					width:216px;
					height:120px;
					border-radius: 8px;
				}
				.p_top{
					position: relative;
					position: absolute;
					top: 0;
					z-index: 3;
					width: 100%;
					height: 100%;
					background-image: url(../images/mid-10.jpg);
					background-size: 100%;
					border-radius: 6px;
				}
				.p_middle{
					position: absolute;
					top: 10px;
					left: 2%;
					z-index: 2;
					width:96%;
					height: 96%;
					background-image: url(../images/mid-10.jpg);
					background-size: 100%;
					border-radius: 6px;
					opacity: .6;
				}
				.p_bottom{
					position: absolute;
					top: 20px;
					z-index: 1;
					left: 4%;
					width: 92%;
					height: 92%;
					background-image: url(../images/mid-10.jpg);
					background-size: 100%;
					border-radius: 6px;
					opacity: .2;
				}

			}
			.active{
				margin-left: 0;
			}
			.shadow{
				position: absolute;
				bottom:6px;
				left:8px;
				z-index:4;
				span{
					display: inline-block;
					height:24px;
					font-size: 12px;
					font-weight: bold;
					color:#fff;
					line-height: 24px;
					text-align: center;
					padding:0 8px;
					margin-right: 5px;
					border-radius: 20px;
					background-color: rgba(7,17,27,.4);
				}
			}
			.details{
				width:200px;
				height:102px;
			    padding:12px 8px;
			    h3{
					font-size: 16px;
				    line-height: 24px;
				    color:#07111B;
				    word-wrap: break-word;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    -webkit-line-clamp: 2;
				    -webkit-box-orient: vertical;
				    max-height: 44px;
				    &:hover{
						color:red;
					}
				}
				p{
					font-size: 12px;
				    color: #4D555D;
				    line-height: 20px;
				}
				.iconfont{
					font-size: 12px;
				    color: #ff9900;
				}
			}
			.bookhour{
				margin:8px 0 10px 0;
				font-size: 12px;
			    color: #4D555D;
			    line-height: 20px;
			    span{
					margin-right:8px;
				}
				.icon-star{
					font-size: 12px;
				    color: #ff9900;
				}
				.icon-person{
					font-size: 12px;
					color:#4d555d;
				}
			}
		}
		@mixin pic{
			background-size:100%; 
		}
		.pic1{
			background: url(../images/mid-1.jpg);
			@include pic;
		}
		.pic2{
			background: url(../images/mid-2.jpg);
			@include pic;
		}
		.pic3{
			background: url(../images/mid-3.jpg);
			@include pic;
		}
		.pic4{
			background: url(../images/mid-4.jpg);
			@include pic;
		}
		.pic5{
			background: url(../images/mid-5.jpg);
			@include pic;
		}
		.pic6{
			background: url(../images/mid-6.jpg);
			@include pic;
		}
		.pic7{
			background: url(../images/mid-7.jpg);
			@include pic;
		}
		.pic8{
			background: url(../images/mid-8.jpg);
			@include pic;
		}
		.pic9{
			background: url(../images/mid-9.jpg);
			@include pic;
		}
		.pic10{
			background: url(../images/mid-10.jpg);
			@include pic;
		}
	}
}
/*新手入门 end*/

/*精英名师 start*/
.teacher{
	width:100%;
	height:408px;
	background:url(../images/eliteTbg.jpg);
	background-position:center center;
	.t-content{
		padding:36px 0 48px;
		height:324px;
	}
	.t-title{
		position: relative;
		margin-bottom: 40px;
	    line-height: 36px;
	    text-align: center;
	    span{
			display: inline-block;
			width:56px;
			height:36px;
			vertical-align: bottom;
		}
		.img-left{
			margin-right: 24px;
			background: url(../images/icon.png) left -362px/100%;
		}
		.img-right{
			margin-left: 7px;
			background: url(../images/icon.png) left -400px/100%;
		}
		p{
			display: inline-block;
			color:#fff;
			font-size:20px;
			font-weight: bold;
			&::after{
				content:"/";
			    color: #93999F;
				font-size: 14px;
				margin:0 8px;
			}
			&:last-of-type::after{
				content:"";
			}
		}
	}
	.t_item {
		a{
			position: relative;
			float:left;
			display: inline-block;
			width:216px;
			height:248px;
			margin-right: 18px;
			background-color: #d8dae0;
			border-radius: 10px;
		}
		.t-tea{
			margin-right: 0;
		}
		img{
			position: absolute;
			top:-16px;
			left:50%;
			width:96px;
			height:96px;
			margin-left: -48px;
			border-radius: 50%;
		}
		.t-introduce{
			width:144px;
			margin-top:92px;
			padding:0 36px;
			text-align: center;
		}
		.name{
			display: block;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
		}
		.teachnical{
			display: block;
			font-size: 12px;
			line-height: 24px;
			color:#4d555d;
			margin-bottom: 12px;
		}
		.introduce{
			position: relative;
			display: block;
			overflow: hidden;
			height:72px;
			font-size: 12px;
			font-weight: 200;
			line-height: 24px;
			color:#4d555d;
			text-align: justify;
		}
	}
}
/*精英名师 end*/

/*吊炸天全名师 start*/
.star{
	height:375px;
	padding:36px 0 48px;
	background-color: #fff;
	.t-title{
		position: relative;
	    line-height: 36px;
	    text-align: center;
	    span{
			display: inline-block;
			width:56px;
			height:36px;
			vertical-align: bottom;
		}
		.img-left{
			margin-right: 24px;
			background: url(../images/icon.png) no-repeat 0 -506px/100%;
		}
		.img-right{
			margin-left: 7px;
			background: url(../images/icon.png) no-repeat 0 -543px/100%;
		}
		 p{
			display: inline-block;
			color:#4d555d;
			font-size:20px;
			font-weight: bold;
			&::after{
				content:"/";
			    color: #93999F;
				font-size: 14px;
				margin:0 8px;
			}
			&:last-of-type::after{
				content:"";
			}
		}
	}
	.star-list{
		height:298px;
		.star-big{
			width: 544px;
			height:98px;
	    	margin: 38px auto 48px;
		}
		.item{
			float:left;
			width:136px;
			height:98px; 
			text-align: center;
			img{
				width:56px;
				height:56px;
				margin: 0 auto;
				border-radius: 50%;
			}
			p{
				font-size: 14px;
			    color: #07111B;
			    line-height: 16px;
			}
			span{
				font-size: 12px;
			    font-weight: 200;
			    color: #93999f;
			}
		}
		.decoration{
			position: relative;
			i{
				position: absolute;
				top:-17px;
				left:55px;
				display: inline-block;
				width:26px;
				height:18px;
			}
			.purple{
				background:url(../images/champion.png) left top/100%;
			}
			.green{
				background:url(../images/champion.png) left -18px/100%;
			}
			.blue{
				background:url(../images/champion.png) left -36px/100%;
			}
			.yellow{
				background:url(../images/champion.png) left -54px/100%;
			}
		}
		.star-small{
			width: 888px;
			height:152px;
	    	margin: auto;
	    	.head_pic{
				position: relative;
				float: left;
				width:48px;
				height:48px;
			  	text-align: center;
				line-height: 52px;
				margin-right: 28px;
				margin-bottom: 24px;
				border:2px solid rgba(255,255,255,0);
				border-radius: 50%;
			}
			.margin1{
				margin-right: 0;
			}
			.margin2{
				margin-left: 40px;
			}
			.head_pic {
				a{
				    display: inline-block;
				}
				img{
					float:left;
					width:44px;
					height:44px;
					border-radius: 50%;
					border:2px solid #fff;
				}
				 div{
					display: none;
				}
			}
			.intro{
				position: absolute;
				top:-110px;
				left:-83px;
				width:154px;
				height:77px;
				color:#fff;
				text-align: center;
				padding:13px 24px 0;
				border-radius: 10px;
				@mixin tran_color{
					position: absolute;
					left:97px;
					bottom:-20px;
					width:0;
					height:0;
			        border-right:10px solid transparent;
			        border-bottom:10px solid transparent;
			        border-left:10px solid transparent;
				}
				.tran-purple{
					@include tran_color;
					border-top:10px solid purple;
				}
				.tran-green{
					@include tran_color;
					border-top:10px solid green;
				}
				.tran-blue{
					@include tran_color;
					border-top:10px solid blue;
				}
				.title{
					font-size: 12px;
				    line-height: 16px;
				}
				.nickname{
				    font-size: 14px;
				    line-height: 24px;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
				.score{
				    font-size: 12px;
				    line-height: 16px;
				    margin-top: 8px;
				}
			}
		}
		.blue1{
		border: 2px solid rgba(0,0,255,1)
		}
		.green1{
			border: 2px solid rgba(0,128,0,1)
		}
		.purple1{
			border: 2px solid rgba(128,0,128,1)
		}
		.purple{
		    background-color: purple;
		}
		.green{
		    background-color: green;
		}
		.blue{
		    background-color: blue;
		}
	}
}
/*吊炸天全名师 end*/
/*网页主题内容 end*/ 

/*网页底部内容 start*/
.footer{
	height:62px;
	padding:36px 0;
	background-color: #f8fafc;
	.foot{
		position: relative;
		width:1200px;
		margin:0 auto;
		.link a{
			font-size: 14px;
			color:#99a1a6;
			margin: 0 10px;
			&:hover{
				color:#07111b;
			}
		}
		.number{
			font-size: 12px;
		    padding-left: 10px;
		    margin-top: 8px;
		    color: #93999F;
		    line-height: 24px;
		}
		.web{
			position: absolute;
			right:0;
			bottom: 0;
			width:auto;
			 div{
				float:left;
			}
			.weixin{
				margin-right: 32px;
				width:60px;
				height:60px;
				text-align: center;
			}
			p{
				height:24px;
				font-size: 12px;
			    color: #93999F;
			    line-height: 24px;
			}
		}
		.iconfont{
			font-size:32px;
			color:#d9dde1;
			&:hover{
				color:#93999f;
			}
		}
	}
	.code{
		position: absolute;
		display: none;
		left:-55px;
		top:-220px;
		width:172px;
		height:212px;
		background:url(../images/elevator.png) no-repeat;
		span{
			display: inline-block;
			font-size: 12px;
			color:#93999f;
			text-align: center;
			line-height: 24px;
		}
	}
}
/*网页底部内容 end*/

/*网页固定内容 start*/
.fixed{
	position: fixed;
	right:0;
	bottom:150px;
	padding:0 16px;
	width:26px;
	height:227px;
	background-color: #fff;
	box-shadow:0 4px 12px 0 rgba(7,17,27,.1);
	a{
		display: block;
	    width: 26px;
	    padding: 16px 0;
	    font-size: 22px;
	    line-height: 20px;
	    color: #b5b9bc;
	    text-align: center;
	    border-bottom: 1px solid #edf1f2;
	}
	p{
	    display: none;
		font-size: 12px;
		color: #07111b;
		line-height: 12px;
	}
	div{
		position: absolute;
		right:48px;
		top:26px;
		width:172px;
		height:212px;
		z-index:9999;
	}
	.app{
		display: none;
		background: url(../images/elevator.png) left -210px/100%;
	}
	.wei{
		display: none;
		background: url(../images/elevator.png) left top/100%;
	}
}
/*网页固定内容 end */