/*页中基本样式初始化*/
	body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,p,a,image{
		margin:0;
		padding:0;
	}
	ul,ol{
		list-style:none;
	}
	a{
		text-decoration:none;
		font-family:"微软雅黑";
	}
	body{
		background-color:#e1e5f2;
	}
	#container{
		width:1152px;
		margin:0 auto;
	}
	.content{
		width:1200px;
		margin:0 auto;
	}
/* 网页中基本样式初始化 end */

/*网页头部栏目 start*/
.topbar{
	height:72px;
	line-height: 72px;
	font-size: 0;
	box-shadow: 0 4px 8px 0 #ddd;
	background-color:#07111b;
	.logo img{
		float:left;
		width:126px;
		margin:17px 28px 0 24px;
	}
	.nav-item li{
		float:left;
		a{
			display: block;
			padding:0 20px;
			height:72px;
			text-align: center;
			font-size: 16px;
			color:rgba(255,255,255,0.6);
			&:hover{
				color:#fff;
			}
			&.active{
				color:#fff;
			}
		}
		.icon-new2{
			display: inline-block;
			position: absolute;
			top:-13px;
			left:405px;
			color: red;
		}
	}
}
/*搜索框 start*/
.search{
	position: relative;
	display: inline-block;
	.search-input input{
		margin-left:20px;
		padding-right:30px;
		width:270px;
		height:48px;
		border:0;
		outline:0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		background-color: #07111b;
	}
	.search-tags{
		position: absolute;
		top:0;
		right:30px;
		a{
			display: inline-block;
			padding:0 8px;
			font-size:12px;
			line-height: 24px;
			color: rgba(255, 255, 255, 0.6);
			border-radius: 12px;
			background-color: rgba(255, 255, 255, 0.1);
			&:hover{
				color:#fff;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
	.search-icon{
		position: absolute;
		top:18px;
		right:-10px;
		width:20px;
		height:24px;
		padding:0 8px;
		border-radius: 12px;
		&:hover{
			color:red;
			background: rgba(240,20,20,.4);
			.icon-sousuo{
				color:red;
			}
		}
		.icon-sousuo{
			display: inline-block;
			position: absolute;
			top:-23px;
			left:10px;
			color:#4d555d;
			font-weight: bold;
		}
	}
}
/*搜索框 end*/

/*登录注册 start*/
.login{
	float:right;
	li{
		position: relative;
		float:left;
		&>a{
			display: inline-block;
			font-size:14px;
			padding:0 15px;
			color:rgba(255,255,255,0.6);
			&:hover{
				color:#fff;
			}
		}
	}
	.download{
		display: none;
		position: absolute;
		top:67px;
		left:-220px;
		padding:22px 24px;
		width:253px;
		height:106px;
		z-index:999;
		border-radius: 10px;
		background-color:#fff; 
		img{
			width:110px;
			height:110px;
		}
		.loading {
			float:right;
			p{
				line-height: 16px;
				font-size: 12px;
				color:#4d555d;
				text-align: center;
				margin-bottom: 12px;
			}
			a{
				display: block;
				width:132px;
				height:36px;
				text-align: center;
				line-height: 36px;
				font-size: 12px;
				color:#fff;
				margin-top: 8px;
				border-radius: 18px;
				background: #4d555d;
				&:hover{
					background-color: #07111b;
				}
			}
			.iconfont{
				color:#fff;
			}
		}
	}
	.l-login{
		padding:0 12px;
		.login-d::after{
			content:'/';
			color:#dfdfdf;
			margin-left:14px;
		}
		.login-z{
			padding:0;
		}
	}
	.chart {
		.gouwuche{
			padding:0 20px;
			margin-top: 16px;
			line-height:36px;
			border:1px solid rgba(255, 255, 255, 0.4);
			border-radius:18px;
		}
		.my_chart{
			display: none;
		    position: absolute;
		    top: 72px;
		   	right:0;
		    padding: 0 12px;
		    width: 350px;
		    height:410px;
		    z-index:999;
		    background-color: #fff;
		    border-bottom-right-radius: 8px;
	    	border-bottom-left-radius: 8px;
		    box-shadow: 0 8px 8px 0 #ddd;
		}
	    .chart_title{
			height:15px;
			padding: 20px 12px;
	    	border-bottom: 1px solid #d9dde1;
	    	h2{
				float:left;
			    height: 16px;
			    font-size: 16px;
			    color: #07111b;
			    line-height: 16px;
			}
			p{
				float:right;
			    height: 16px;
			    line-height: 16px;
			    font-size: 12px;
			    color: #93999f;
			}
		}
		.chart_content{
			text-align: center;
			.iconfont{
			    margin-top: 36px;
			    margin-bottom: 12px;
			    display: inline-block;
			    width: 60px;
			    height: 60px;
			    text-align: center;
			    line-height: 60px;
			    background: #93999f;
			    font-size: 36px;
			    color: #fff;
			    border-radius: 50%;
			}
			h3{
				margin: 0 auto;
			    width: 180px;
			    padding-bottom: 24px;
			    border-bottom: 1px solid #d9dde1;
			    color: #4d555d;
			    font-size: 14px;
			    line-height: 14px;
			}
			p{
				text-align: center;
			    margin-top: 24px;
			    margin-bottom: 16px;
			    font-size: 12px;
			    line-height: 12px;
			    color: #93999f;
			}
			a{
				display: block;
			    color: rgba(240,20,20,.6);
			    font-size: 12px;
			    line-height: 12px;
			    margin-bottom: 16px;
			}
		}
		.join{
			height:38px;
			line-height:38px;
			margin-top: 40px;
		    padding: 16px 12px;
	    	border-top: 1px solid #d9dde1;
	    	.order{
			    font-size: 12px;
		    	color: #93999f;
			}
			.cart{
				float:right;
			    color: #fff;
				font-size: 12px;
				line-height: 12px;
				font-weight: 700;
				padding: 12px 16px;
				background: rgba(240,20,20,.8);
				border-radius: 16px;
			}
		}
	}
}
/*登录注册 end*/

/*网页头部栏目 end*/

/*网页头部广告 start*/
.top_box{
	height:220px;
	padding-top:20px;
	background-color: #b7bbbf;
	.ad{
		position: relative;
		width:1200px;
		margin:0 auto 20px;
		a{
		    display: block;
		    float:left;
		    width: 590px;
		    height: 120px;
		    margin-right: 20px;
		    box-shadow: 0px 8px 16px rgba(7, 17, 27, 0.1);
		    &:last-child{
				margin-right: 0;
			}
		}
		img{
		    border-radius: 8px;
		}
	}
}
/*网页头部广告 end*/

/*课程表 start*/
.timetable{
    position: relative;
	width: 1104px;
	height:148px;
	font-size: 0;
    margin: -78px auto 0;
    padding: 36px 48px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(7, 17, 27, 0.1);
    z-index: 2;
    .direction{
		float:left;
		width:454px;
		height:106px;
		border-right: 1px solid #ddd;
	}
	p{
	    font-size: 14px;
	    line-height: 14px;
	    font-weight: 700;
	    color: #07111b;
	}
	.all,.hot{
		margin: 14px 30px -6px -6px;
	}
	a{
		display: inline-block;
		margin:6px 2px;
		padding:8px 12px;
		font-size: 14px;
		line-height: 14px;
		color:#07111b;
		&:hover{
		color:#f01414;
		}
		&.active{
			color:#fff;
			background-color:#f01414; 
		}
	}
	.classify{
		float:right;
		width:602px;
		height:148px;
		margin-left: 36px;
	}
}
/*课程表 end*/

/*课程详情介绍 start*/
.classify_title{
	font-size: 0;
	width:1176px;
	height:24px;
	padding:0 12px;
	margin:20px auto;
	a{
	    display: inline-block;
	    font-size: 14px;
	    color: #93999f;
	    line-height: 24px;
	    margin-right: 36px;
	    font-weight: 200; 
	    &.active{
		color:#4d555d;
		}
		&:hover{
			color:#4d555d;
		}
	}
}
.classifies{
	overflow: hidden;
	width:100%;
	&::after{
		content:"";
		display: block;
		clear:both;
	}
	.classify_item{
		position: relative;
		float:left;
		width:276px;
		height:316px;
		margin-right: 32px;
		margin-bottom: 32px;
		box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
		&:hover{
			box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.2);
			transition: .3s all linear;
		}
		&.active{
			margin-right: 0;
		}
		.classify_image{
			width:276px;
			height:96px;
			overflow: hidden;
			img{
				display: block;
				width:276px;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
		}
		.classify_details{
			width:229px;
			height:174px;
			padding:22px 24px 24px;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			background-color:#fff; 
			h3{
				font-size: 16px;
				line-height: 28px;
				color:#07111b;
				font-weight:200;
				word-break:break-all;
				word-wrap:break-word;
				overflow: hidden;
			}
			&>span{
				display: inline-block;
				margin-top: 8px;
				font-size:12px;
				line-height: 24px;
				color:#93999f;
				font-weight:200;
				word-break:break-all;
				word-wrap:break-word;
				overflow: hidden;
			}
			.composite{
				position: absolute;
				bottom:22px;
				width:228px;
				height:45px;
			}
			.study{
				float:left;
				span{
					font-size:12px;
					line-height: 24px;
					color:#93999f;
					font-weight:200;
				}
				.classify_icon{
					font-size: 12px;
					color:#ff9900;
				}
			}
			.price{
				float:right;
			    font-size: 16px;
			    color: #f01414;
			    height:20px;
			    line-height: 20px;
			    font-weight: 200;
			}
			.empty{
			    height:20px;
			}
			.mark{
				display: none;
				position: absolute;
				bottom:24px;
				width:228px;
				height:52px;
				padding:16px 0;
				text-align: center;
				border-radius: 4px;
				background-color:#ff9900; 
				p{
				    font-size: 12px;
				    line-height: 12px;
				    color: #fff;
				    font-weight: 200;
				    &.special{
						font-size:20px;
						line-height:20px;
						margin:4px 0;
					}
					&.diss{
						margin:8px 0;
					}
				}
				span{
					position: absolute;
					bottom:-13px;
					left:40px;
					width:0;
					height:0;
					border-top:7px solid #ff9900;
					border-right:7px solid transparent;
					border-bottom:7px solid transparent;
					border-left:7px solid transparent;
				}
			}
			.mark_left{
				float:left;
				width:118px;
				border-right: 1px solid rgba(255, 255, 255, 0.4);
			}
		}
	}
}
/*课程详情介绍 end*/

/*切换页数 start*/
.page{
	padding:8px 0 70px;
	text-align: center;
	span{
		display: inline-block;
	    padding: 0 12px;
	    height: 39px;
	    line-height: 39px;
	    font-size: 14px;
	    color: #93999f; 
	}
	a{
		display: inline-block;
	    padding: 0 12px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 14px;
	    color: #4d555d;
	    border-radius: 50%;
	    &.active{
		    width:12px;
			color:#fff;
			background-color: #4d555d;
		}
	}
	.number{
		width:12px;
		&:hover{
			width:12px;
			background-color: #d9dde1;
		}
	}
}
/*切换页数 end*/

/*网页底部内容 start*/
.footer{
	height:62px;
	padding:36px 0;
	background-color: #000;
	.foot{
		position: relative;
		width:1200px;
		margin:0 auto;
		.link a{
			font-size: 14px;
			color:#c8cdd2;
			margin: 0 10px;
			&:hover{
				color:#fff;
			}
			&.active{
				color:#fff;
			}
		}
		.number{
			font-size: 12px;
		    padding-left: 10px;
		    margin-top: 8px;
		    color: #787d82;
		    line-height: 24px;
		}
		.web{
			position: absolute;
			right:0;
			bottom: 0;
			width:auto;
			div{
				position: relative;
				float:left;
				margin: 3px 6px 0;
			}
			p{
				display: none;
				text-align: center;
				font-size: 12px;
			    color: #93999F;
			    line-height: 18px;
			    border:1px solid #ddd;
			    background-color: #fff;
			}
		}
		.iconfont{
			font-size:32px;
			color:#5e5e5e;
			&:hover{
				color:#b4bbbf;
			}
		}
	}
	.code{
		position: absolute;
		display: none;
		left:-70px;
		top:-220px;
		width:172px;
		height:212px;
		background:url(../images/footer.png) no-repeat;
		span{
			display: inline-block;
			font-size: 12px;
			color:#93999f;
			text-align: center;
			line-height: 24px;
		}
	}
}
/*网页底部内容 end*/

/*网页固定内容 start*/
.fixed{
	position: fixed;
	right:0;
	bottom:150px;
	padding:0 16px;
	width:26px;
	height:227px;
	background-color: #fff;
	box-shadow:0 4px 12px 0 rgba(7,17,27,.1);
	a{
		display: block;
	    width: 26px;
	    padding: 16px 0;
	    font-size: 22px;
	    line-height: 20px;
	    color: #b5b9bc;
	    text-align: center;
	    &+a{
		    border-top: 1px solid #edf1f2;
		}
	}
	p{
	    display: none;
		font-size: 12px;
		color: #f01414;
		line-height: 12px;
	}
	div{
		position: absolute;
		right:48px;
		top:26px;
		width:172px;
		height:212px;
	}
	.app{
		display: none;
		background: url(../images/fixed.png) 3px -185px/100%;
	}
	.wei{
		display: none;
		background: url(../images/fixed.png) 3px 6px/100%;
	}
	.return{
		/*display: none;*/
	}
}
/*网页固定内容 end*/